fastapi
uvicorn[standard]

pydantic
pydantic-settings

scikit-learn
pandas
numpy
scipy

joblib

streamlit
requests

python-multipart

pdfplumber
PyPDF2

slowapi
redis
hiredis

python-dotenv

loguru
pytest
httpx

docker
matplotlib
seaborn

jupyter 
notebook
python-json-logger
flake8
shap
matplotlib